<!-- <p>header works!</p>
<mat-toolbar color="primary" class="col-sm-12 col-md-12 col-xl-12 col-lg-12 navbar container-fluid">
    <div class="col-sm-10 col-md-10 col-xl-10 col-lg-10">
        LICET
    </div>
    <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1" style="text-align: right;">
        <button mat-stroked-button style="color: black; background-color: white;">Save</button>
    </div>
    <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1" style="text-align: right;">
        <button mat-stroked-button style="color: black; background-color: white;">Finalise</button>
    </div>
</mat-toolbar> -->