<!-- confirmation alert -->
<div *ngIf="data.isConfirmation && !data.isWarning">
    <h2 mat-dialog-title>
        Confirmation
    </h2>
    <mat-dialog-content>
        {{data.message}}
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="row ">
            <button mat-button mat-dialog-close mat-dialog-close="false">
                Cancel
            </button>
            <button mat-button mat-dialog-close mat-dialog-close="true">
                Confirm
            </button>
        </div>
    </mat-dialog-actions>
</div>

<!-- warning alert -->
<div *ngIf="data.isWarning && !data.isConfirmation">
    <h2 mat-dialog-title>
        Warning
    </h2>
    <mat-dialog-content>
        {{data.message}}
    </mat-dialog-content>

    <mat-dialog-actions>
        <div class="row ">
            <button mat-button mat-dialog-close>
                Ok
            </button>
        </div>
    </mat-dialog-actions>
</div>